VITE_AUTH_URL=https://api.diffonsoclimatizacao.com/login.php
VITE_FORGOT_PASSWORD_URL=https://api.diffonsoclimatizacao.com/esqueceusenha.php
VITE_SERVICE_ORDERS_URL=https://api.diffonsoclimatizacao.com/ordemservicos.php
VITE_EQUIPMENT_TYPES_URL=https://api.diffonsoclimatizacao.com/tipoequipamento.php
VITE_CLIENTS_URL=https://api.diffonsoclimatizacao.com/listaclientes.php
VITE_CREATE_EQUIPMENT_URL=https://api.diffonsoclimatizacao.com/cadastrar-equipamento.php
VITE_SYNC_URL=https://sua-url.com/sincronizar-ordem
VITE_API_AUTHORIZATION_TOKEN=Bearer COLOQUE_SEU_TOKEN_AQUI
VITE_TEST_LOGIN_EMAIL=seu-email-de-teste@example.com
VITE_TEST_LOGIN_PASSWORD=COLOQUE_SUA_SENHA_DE_TESTE_AQUI
